<% for(var i=0, len = alarms.length; i<len; i++) { %>

<li class="set-alarm clearfix">
	<%if(alarms[i].status) {%>
		<a class="pull-left btn btn-primary btn-switch on"><i class="icon-clock"></i></a>
	<%} else {%>
		<a class="pull-left btn btn-primary btn-switch"><i class="icon-clock"></i></a>
	<%}%>
	<a class="pull-left btn btn-primary btn-delete"><span><%= alarms[i].time%></span></a>
</li>
<%}%>